# Server Configuration
PORT=3333

# Database Configuration (MongoDB)
DATABASE_URL="mongodb+srv://<username>:<password>@cluster.mongodb.net/<dbname>"

# Authentication
JWT_SECRET="your_jwt_secret_key_here"

# AI/LLM Configuration (Gemini/Ollama/OpenAI)
MODEL_BASE_URL="http://192.168.1.143:11434" # Optional: Change if using a different proxy or local LLM like Ollama
MODEL_NAME="gemini-2.5-flash-lite"
MODEL_API_KEY="your_api_key_here"

# Queue/Cache Configuration (Redis)
REDIS_URL="redis://default:your_redis_password@your_redis_host:6379"